{% extends "admin/index.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<style>
#header{ background-color: #333940; border-bottom: solid 3px #999; }
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
.dashboard #content { width: auto; }
.tt {font-family: Menlo, courier, monospace;}
.row-None  {background-color: #BDE5F8; }
.row-True  {background-color: #DFF2BF; }
.row-False {background-color: #FFBABA; }

</style>
{% endblock %}

{% block sidebar %} {% endblock %}
 
{% block content %}

<script>
  $.ajaxSetup({
    url: "/ajax",
    dataType: "json",
    global: false,
    type: "POST"
   });

timers = {};

check_done = function(event) { 
         $.ajax({ data: {site: event},
                  success: function(d) {
      console.log(d);
             if (d.status != null) { clearInterval( timers[event]);  }
             if (d.status) { $.each(d.stats, function(i,j){ $(i).html(j); }) ;    }
return true;
      }})};

l = [ {{ site.pk }} ];




// function my_asy(e) {  timers[e] = setInterval( function() { check_done(e); }, 2000); }

$.each(l, function(i,item) { timers[item] = setInterval( function() { check_done(item); }, 2000);} );
</script>



<h1> Details for site: {{ site.link|safe }} </h1>   
<h2> {{ site.long_name }} </h2>
<dl>
<dt> Site Contact  </dt> <dd><a href="mailto:{{ site.contact_email }}"> {{site.contact_email }}</a></dd>
<dt> Department Contact  </dt> <dd><a href="mailto:{{ site.user.email }}"> {{site.user }}</a></dd>
<dt> Status </dt> <dd> <ul>
{% for f in site.get_flags %} <li>{{ f|capfirst }} - {{f.description}}</li> {% endfor %} </ul></dd>
<dt> Nodes </dt><dd id="node_count"> &mdash;</dd>
<dt> Files </dt><dd id="file_count">&mdash;</dd>
<dt> Users </dt><dd id="user_count">&mdash;</dd>
<dt> Cron  </dt><dd id="cron_run">&mdash;</dd>
<dt> Disk utilization </dt><dd id="du"> <meter value="77" min="0"  max="100"> &mdash; </meter> </dd>
</dl>

 <form action="" method="post">
      <div>
	<ul>
	  <li>

          <div class="form-row">
            <label for="delete"> Removal </label>
            <input type='text' maxlength='6' name="delete_confirm">
            <input type='submit' name="_delete" value="delete">

            <p class="help">
              To confirm site deletion, type <i>delete</i> in the box
              and press the delete button. There is no further
              confirmation.
            </p>
	  </div>
	</li>
	<li>
	<div class="form-row">
	  <label for="new_name"> New Name</label>
	  <input type="text" name="new_name">
	  <input type="submit" name="_clone" value="clone">
	  <input type="submit" name="_rename" value="rename">
	    </div>
        </li>

<li>
</li>

</ul>

</div>
<table>
      {% for event in events %}
        <tr class="row-{{ event.status }}">
          <td>{{ event.date }}</td>
          <td>{% if event.status %} {{ event.status }} {% else %} &mdash; {% endif %} </td>
          <td>{{ event.event }}</td>
          <td class="tt">{% if event.message %} {{ event.message|linebreaks }} {% else %} &mdash; {% endif %}</td>
          <td>{{ event.task_id }} </td>
        </tr>

    {% endfor %}
</table>

<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save">
</div>


</form>
{% endblock %}



