{% extends "admin/index.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<style>
#header{ background-color: #333940; border-bottom: solid 3px #999; }
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
.dashboard #content { width: auto; }
.tt {font-family: Menlo, courier, monospace;}
.row-None  {background-color: #BDE5F8; }
.row-True  {background-color: #DFF2BF; }
.row-False {background-color: #FFBABA; }

li {border: 1px solid #ccc ; margin: 10px;}
</style>
{% endblock %}

{% block sidebar %} {% endblock %}
 
{% block content %}

<script>
  $.ajaxSetup({
    url: "/ajax",
    dataType: "json",
    global: false,
    type: "POST"
   });

timers = {};

check_done = function(event) { 
         $.ajax({ data: {site: event},
                  success: function(d) {
             if (d.status != null) { clearInterval( timers[event]);  }
             if (d.status) { $.each(d.stats, function(i,j){ $('#' + i).html(j); }) ;    }
return true;
      }})};

l = [ {{ site.pk }} ];




// function my_asy(e) {  timers[e] = setInterval( function() { check_done(e); }, 2000); }

$.each(l, function(i,item) { timers[item] = setInterval( function() { check_done(item); }, 2000);} );
</script>



<h1> Details for site: {{ site.link|safe }} </h1>   
<h2> {{ site.long_name }} </h2>

<dl>
<dt> Site Contact  </dt> <dd><a href="mailto:{{ site.contact_email }}"> {{site.contact_email }}</a></dd>
<dt> Department Contact  </dt> <dd><a href="mailto:{{ site.user.email }}"> {{site.user }}</a></dd>
<dt> Status </dt> <dd> <ul>
{% for f in site.get_flags %} <li>{{ f|capfirst }} - {{f.description}}</li> {% endfor %} </ul></dd>
<dt> Nodes </dt><dd id="node_count"> &mdash;</dd>
<dt> Files </dt><dd id="file_count">&mdash;</dd>
<dt> Cron </dt><dd id="cron_last">&mdash;</dd>
<dt> Disk utilization </dt><dd id="disk_usage"> <!-- <meter value="77" min="0"  max="100"> --> &mdash; </dd>
</dl>

<form action="" method="post">

    <div class="tabs">
      <ul>

        <li>
        <h3> Quick Actions </h3>
        <div>
          <p>
            <input type="submit" name="submit" value="verify">
          </p>
          <p>
            <input type="submit" name="submit" value="enable">
	    <input type="submit" name="submit" value="disable">
          </p>
          <p>
            <input type="submit" name="submit" value="cache clear">
            <input type="submit" name="submit" value="varnish clear">
          </p>
        </div>
      </li>
        
        <li>
        <h3> Clone/Rename </h3>
        <div>
          {{ forms.clone.as_p }}
      	  <input type="submit" name="submit" value="clone">
	  <input type="submit" name="submit" value="rename">
        </div>
      </li>

        <li>
        <h3> Migrate </h3><div>
          {{ forms.migrate.as_p }}
	  <input type="submit" name="submit" value="migrate">
        </div> 
      </li>
        
        <li>
        <h3> Drush </h3>
        <div>
          {{ forms.drush.as_p }}
          <input type="submit" name="submit" value="drush">
        </div>
      </li>
        
        <li>
        <h3> Delete </h3><div>
          <p> todo </p>
        </div> 
      </li>

      </ul>
    </div>

<table>
      {% for event in events %}
        <tr class="row-{{ event.status }}">
          <td>{{ event.date }}</td>
          <td>{% if event.status %} {{ event.status }} {% else %} &mdash; {% endif %} </td>
          <td>{{ event.event }}</td>
          <td class="tt">{% if event.message %} {{ event.message|linebreaks }} {% else %} &mdash; {% endif %}</td>
          <td><span title="{{ event.task_id }}">task</span> </td>
        </tr>

    {% endfor %}
</table>


</form>
{% endblock %}



